{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}


{% block page_product_detail_was_price_badge %}
    {{ parent() }}
{% endblock %}

{% block page_product_detail_price_block_table_head_inner %}
    <tr class="product-block-prices-row">
        <th scope="col" class="product-block-prices-cell">
            {{ "detail.dataColumnQuantity"|trans|sw_sanitize }}
        </th>
        <th scope="col" class="product-block-prices-cell">
            {{ "detail.dataColumnPrice"|trans|sw_sanitize }}
        </th>
        {% if page.product.calculatedPrice.referencePrice %}
            <th scope="col" class="product-block-prices-cell">
                {{ "detail.dataColumnReferencePrice"|trans|sw_sanitize }}
            </th>
        {% endif %}
        <th scope="col" class="product-block-prices-cell">
            Brutto
        </th>
    </tr>
{% endblock %}

{% block page_product_detail_price_block_table_body_cell_reference_price %}
    {% if price.referencePrice is not null %}
        <td class="product-block-prices-cell product-block-prices-cell-thin">
            {{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }}
        </td>
    {% endif %}
            <td class="product-block-prices-cell product-block-prices-cell-thin" style="x">
            <b>{{ (price.unitPrice * (1.0 + page.product.tax.taxRate / 100.0))|currency }}</b>
        </td>
{% endblock %}



