{% sw_extends '@Storefront/storefront/layout/header/actions/service-menu-widget.html.twig' %}

{# Set theme variables #}
{% set snapHeaderTopBarJustifyContent = theme_config('snap-header-top-bar-justify-content') %}
{% set snapHeaderType = theme_config('snap-header-type') %}

{% block layout_header_actions_service_menu_items %}
    {% if snapHeaderType == 4 or snapHeaderTopBarJustifyContent == 'flex-start' %}
        <div class="dropdown-menu dropdown-menu-left"
             aria-labelledby="serviceMenuDropdown-{{ position }}">
            {% for category in page.header.serviceMenu %}

                {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                {% set externalLink = category.translated.externalLink %}
                <a class="top-bar-list-item dropdown-item"
                   href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"
                   title="{{ category.translated.name }}">{{ category.translated.name }}</a>
            {% endfor %}
        </div>
    {% else %}

        {# Default block #}
        {{ parent() }}
    {% endif %}
{% endblock %}
